/ = @categories.inspect
%h2 My posts
- @posts.each do |post|
  %p
    = link_to post.title, post
    = link_to 'edit', edit_post_path(post)
= button_to 'add post', new_post_path, method: :get, class: 'btn'